@mixin flex($align) {
    display: flex;
    flex-direction: row; 
    justify-content: $align; // 따옴표도 같이 들어감
    align-items: #{$align}; // 따옴표가 사라지고 들어감
}

.one {
    @include flex("center")
}

.two {
    @include flex("center")
}

.three {
    @include flex("space") // space-between
}