@font-face {
    font-family: 'Pretendard-Regular';
    src: url("./font/Pretendard-Regular.woff");
}

body {
    font-family: Pretendard-Regular;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 2em;
}

.parents {
    width: 200px;
    height: 200px;
    background-color: aqua;
    font-size: 20px;
}

.child {
    width: 50vw;
    height: 50vh;
    /* %: 부모 요소 기준으로 하는 백분율 단위 */
    font-size: 0.5em;
    background-color: salmon;
}

html {
    font-size: 10px;
}

p {
    font-size: 4rem;
}